<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <div class="title-center">
        <ion-icon name="apps"></ion-icon>
        <span>Lista de pedidos</span>
      </div>
    </ion-title>
    <ion-progress-bar *ngIf="this.isLoad" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
  <!-- 🔎 Barra de búsqueda -->
  <ion-toolbar>
    <ion-searchbar id="barSearch" slot="start" placeholder="Código, teléfono o cliente..."
      (ionInput)="filtrarPedidos($event)">
    </ion-searchbar>
    <!-- Filtrar por tiempo -->
    <ion-button slot="end" id="open-action-sheet">Filtrar</ion-button>
    <ion-action-sheet trigger="open-action-sheet" header="Filtrar por..." [buttons]="filtrar"></ion-action-sheet>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isWebScanning" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999; background: black; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <video id="webScannerVideo" style="width: 100%; max-height: 80%; object-fit: cover;" autoplay playsinline></video>
    <ion-button color="danger" (click)="stopWebScan()" style="margin-top: 20px;">
      Cancelar
    </ion-button>
  </div>

  <ion-list *ngIf="pedidosFiltrados.length > 0; else sinPedidos">
    <ion-item *ngFor="let pedido of pedidosFiltrados">
      <!-- Imagen desde FileSystem -->
      <ion-thumbnail slot="start" *ngIf="pedido.img1" style="height: 100%;">
        <img [src]="imgUrl + pedido.img1" alt="Pedido" class="pedido-img" />
      </ion-thumbnail>

      <!-- Datos del pedido -->
      <ion-label (click)="irDetalle(pedido.barCode)">
        <!-- Estado con badge -->

        <h2 style="display: flex; align-items: center; font-weight: bold; gap: 8px;">{{ pedido.barCode }} <ion-badge
            [color]="getEstadoColor(pedido.estatus)" slot="end">
            {{ pedido.estatus }}
          </ion-badge></h2>
        <p style="font-weight: bold;">{{ pedido.cliente.nombre }}</p>
        <p>Tel: {{ pedido.cliente.telefono }}</p>
        <p>Fecha: {{ pedido.created | date:'short' }}</p>
      </ion-label>

      <!-- Botón de acciones -->
      <ion-buttons slot="end">
        <ion-button (click)="openAcciones(pedido)">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>




  <!-- Template alternativo cuando no hay datos -->
  <ng-template #sinPedidos>
    <div class="empty-list">
      <ion-icon name="information-circle-outline" size="large"></ion-icon>
      <p>No hay pedidos pendientes</p>
    </div>
  </ng-template>
  <!-- Alerta genérica -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="this.startScan()">
      <ion-icon name="barcode-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
