<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="nuevo-pedido" [routerLink]="['/tabs/nuevo-pedido']">
      <ion-icon name="add-circle"></ion-icon>
      Nuevo pedido
    </ion-tab-button>

    <ion-tab-button tab="list-pedidos" [routerLink]="['/tabs/list-pedidos']">
      <ion-icon name="apps"></ion-icon>
      Pedidos
    </ion-tab-button>

    <ion-tab-button tab="config-impresora" [routerLink]="['/tabs/config-impresora']">
      <ion-icon name="settings"></ion-icon>
      Impresora
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
